/*Deben estilizar el fondo, la lista de películas, la imagen y el argumento*/
body {
    background-color: rgb(8, 14, 10);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

ol {
    list-style: none;
    counter-reset: steps;
}

li {
    padding-bottom: 10px;
}

ol li {
    counter-increment: steps;
}

ol li::before {
    content: counter(steps);
    margin-right: 0.5rem;
    background: rgb(66, 175, 130);
    color: white;
    font-size: larger;
    font-weight: bolder;
    width: 1.2em;
    height: 1.2em;
    display: inline-grid;
    place-items: left;
    line-height: 1.2em;
}

img {
    border: 1px solid #ddd;
    border-radius: 100%;
    padding: 5px;
    width: 250px;
    margin-left: 250;
    rotate: 90;
}

.argumento {
    max-width: 40%;
    text-align: justify;
    text-indent: 40px;
}