/*Deben estilizar el fondo, la lista de películas, la imagen y el argumento*/
body {
    background-color: rgb(8, 14, 10);
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

ol {
    list-style: none;
    counter-reset: steps;
}

li {
    padding-bottom: 10px;
}

ol li {
    counter-increment: steps;
}

ol li::before {
    content: counter(steps);
    margin-right: 0.5rem;
    background: rgb(66, 175, 130);
    color: white;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 1.2em;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    margin-left: 250;
}

.argumento {
    max-width: 40%;
    text-align: center;
}